h1 {
  color: blueviolet;
  text-align: center;
  background-color: antiquewhite;
  padding: 10px;
  margin: 60px 90px 5px 90px;
}

.container {
  text-align: center;
}

.choose {
  padding: 5px;
  margin: 5px;
}

.cities {
  text-align: left;
  padding: 10px 100px;
}

footer {
  margin: 30px;
  text-align: center;
}
