h1 {
  color: blueviolet;
  text-align: center;
  background-color: antiquewhite;
  padding: 10px;
  font-size: 22px;
  margin: 5px 90px 75px 90px;
}

select {
  display: block;
  width: 95%;
  font-size: 18px;
  border-radius: 4px;
  padding: 10px;
  margin: 13px;
}

.container {
  max-width: 500px;
  margin: 60px auto;
  background: #d5d7f9;
  padding: 30px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 10px;
}

h3 {
  margin: 0 0 5px;
  font-size: 28px;
}
.cities {
  text-align: left;
  padding: 10px 100px;
  margin: 5px;
}

.date {
  opacity: 0.7;
}

.time {
  font-size: 25px;
  font-weight: bold;
}

.time small {
  font-size: 24px;
  vertical-align: middle;
  line-height: 48px;
}

footer {
  margin: 30px;
  text-align: center;
}
